@page "{resturantId:int}"
@model odeToFood.Pages.Resturants.DeleteModel
@{
    
}

<h2>Delete</h2>
<div class="alert alert-danger">
    Are you sure want to delete @Model.Resturant.Name
</div>

<form  method="post">
    <button type="submit" class="btn btn-danger">Yes!</button>
    <a asp-page="List" class="btn btn-default"> Cancel </a>
</form>

